@tailwind base;
@tailwind components;
@tailwind utilities;

/* GOOGLE FONTS */
body {
    font-family: "Playfair Display", serif;
    font-family: "Poppins", sans-serif;
}
.heading-font {
    font-family: "Playfair Display", serif !important;
}
.banner-bg {
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
}
